.project-new-mov {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.project-new-mov .group-wrapper {
    background-color: #ffffff;
    overflow: hidden;
    width: 606px;
    height: 578px;
}

.project-new-mov .group {
    width: 608px;
    height: 578px;
}

.project-new-mov .overlap-group {
    position: relative;
    width: 606px;
    height: 578px;
    background-color: #ffffff;
    border-radius: 10px;
}

.project-new-mov .div {
    position: absolute;
    width: 287px;
    height: 62px;
    top: 32px;
    left: 160px;
    font-weight: 700;
    color: #000000;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.project-new-mov .label-AA {
    display: flex;
    width: 443px;
    height: 63px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 100px;
    left: 82px;
    background-color: #ededed;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 1px 3px 1px #00000026;
}

.project-new-mov .input-interactive-wrapper {
    display: inline-flex;
    flex-direction: column;
    gap: 2px;
    position: absolute;
    top: 220px;
    left: 82px;
    background-color: #ffffff;
    width: 200px;
}

.project-new-mov .combobox-interactive {
    display: inline-flex;
    flex-direction: column;
    gap: 2px;
    position: absolute;
    top: 220px; /* Ajustar la posición para que esté al lado del campo editable */
    left: 316px; /* Mantener la posición para que esté alineado */
    background-color: #ffffff;
    width: 200px;
}

.project-new-mov .description-label {
    display: flex;
    width: 443px;
    height: 63px;
    position: absolute;
    top: 300px;
    left: 82px;
    background-color: #ededed;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 1px 3px 1px #00000026, 0px 1px 2px #0000004c;
    align-items: center;
    justify-content: center;
}

.project-new-mov .description-label .label-text {
    font-weight: 500;
    color: #1d1b20;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.10px;
    line-height: 20px;
    white-space: nowrap;
}

.project-new-mov .date-picker-wrapper {
    display: flex;
    flex-direction: column;
    width: 443px;
    position: absolute;
    top: 430px;
    left: 82px;
    background-color: #ededed;
    border-radius: 8px;
    box-shadow: 0px 1px 3px 1px #00000026;
}

.project-new-mov .date-picker-wrapper .calendar {
    width: 100%;
    height: 32px;
    border: none;
    background-color: #ededed;
    border-radius: 8px;
    padding: 6px 12px;
    font-size: 14px;
    color: #1e1e1e;
    box-shadow: 0px 1px 3px 1px #00000026;
}


.project-new-mov .input-field select {
    width: 100%;
    height: 32px;
    border: none;
    background-color: #ededed;
    border-radius: 8px;
    padding: 6px 12px;
    font-size: 14px;
    color: #1e1e1e;
    box-shadow: 0px 1px 3px 1px #00000026;
    appearance: none;
}

.project-new-mov .button {
    all: unset;
    box-sizing: border-box;
    display: flex;
    width: 120px;
    height: 42px;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    position: absolute;
    top: 518px;
    left: 243px;
    background-color: #1f3633;
    border-radius: 10px;
}

.project-new-mov .text {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0px 8px;
    position: relative;
    flex: 0 0 auto;
}

.project-new-mov .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-weight: 600;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: 16px;
    white-space: nowrap;
}